*{
    margin: 0px;
    padding: 0px;
}
#header{
    margin: 10px auto;
    padding: 10px;
    height: 300px;
    width: 1200px;
    border: 1px solid #000000;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_bg{
    width: 99.9%;
    height: 55px;
    background-image: linear-gradient(#53dae4,#53dae4);
    margin-top: -5px;
    border: 1px solid #000000;
}
#nav_div{
    width: 1200px;
    height: 48px;
    margin: 0px auto;
}
.nav_a{
    display: inline-block;
    border: #000000 1px solid;
    border-radius: 50px;
    text-decoration: none;
    color: #ffffff;
    width: 85px;
    height: 45px;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
    font-weight: bold;
    margin:3.5px 100px;
    background-color: #d8d2d2;
}
.nav_a:hover{
    color: #414c4d;
}

#content{
    border: #000000 1px solid;
    margin: -1px auto;
    width: 75%;
    height: 490px;
}
#hide{
    border: 1px solid #414c4d;
    width: 110px;
    height: 45px;
    border-radius: 50px;
    display: block;
    position: relative;
    left: 45%;
    top: 200px;
    font-size: 18px;
    font-weight: bold;
}
#hide:hover{
    background-color: #56eefc;
}
#hide:active{
    background-color: #8ad337bd;
    width: 115px;
    height: 50px;
}
#footer{
    width: 99.9%;
    height: 54px;
    background-image: linear-gradient(#bccecf,#bccecf);
    margin-top: -5px;
    border: 1px solid #000000;
}
.footer_box{
    width: 70%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 10px auto;
}