<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>链接一</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/list1.css' %}" type="text/css">
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
    <!-- 头部开始 -->
    <div id="header">MC</div>
    <!-- 头部结束 -->
    <!-- 导航栏 -->
    <div class="nav_bg">
        <div id="nav_div">
            <a href="../index" class="nav_a">服务器</a>
            <a href="" class="nav_a">客户端</a>
            <a href="../list2" class="nav_a">关于我</a>
            <a href="../list3" class="nav_a">联系我</a>
        </div>
    </div>
    <!-- 内容 -->
    <div id="content">
        <div class="list_div">
            <a href="../list2" class="list_a">链接 ①</a>
            <a href="#" class="list_a">链接 ②</a>
            <a href="#" class="list_a">链接 ③</a>
            <a href="#" class="list_a">链接 ④</a>
            <a href="#" class="list_a">链接 ⑤</a>
            <a href="#" class="list_a">链接 ⑥</a>
            <a href="#" class="list_a">链接 ⑦</a>
            <a href="#" class="list_a">链接 ⑧</a>
            <a href="#" class="list_a">链接 ⑨</a>
        </div>
        <div class="text">PS: 左侧为测试链接，均无法点击!</div>
    </div>
    <!-- 底部 -->
    <div id="footer">
        <div class="footer_box">
            数字经济产业学院 电子商务2003 202004070102 梁文豪  版权@ikirito（网名）
        </div>
    </div>
</body>
</html>