<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>链接二</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/list2.css' %}" type="text/css">
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
    <!-- 头部开始 -->
    <div id="header">MC</div>
    <!-- 头部结束 -->
    <!-- 导航栏 -->
    <div class="nav_bg">
        <div id="nav_div">
            <a href="../index" class="nav_a">服务器</a>
            <a href="../list1" class="nav_a">客户端</a>
            <a href="" class="nav_a">关于我</a>
            <a href="../list3" class="nav_a">联系我</a>
        </div>
    </div>
    <!-- 内容 -->
    <div id="content">
        <div class="text">
            <h1>iKun记</h1>
            <h3>--------------------------</h3>
            <h4>无名氏</h4>
            <p>ikun（同IKUN，爱坤），是指中国内地男歌手、演员、音乐制作人蔡徐坤的粉丝的名称。1998年8月2日出生于浙江省温州市，户籍湖南吉首，中国内地男歌手、演员、原创音乐制作人、MV导演。坤的粉丝叫ikun，ikun的发音可以分为“我”和“坤”两部分。“我”的发音是英文字母i，意思是爱。“坤”是坤的名字中坤的拼音，两部分结合起来就是“爱坤”。<div class="img"></div>坤的主要经历。2012年8月，蔡徐坤担任主演的偶像剧《童话二分之一》播出，由此开始步入大众视线。2018年1月参加偶像男团比赛开发真人秀《偶像练习生》并担任队长。8月2日，我发布了我的第一张EP，然后获得了我出道后的第一个个人音乐奖项，亚洲新歌榜2018盛典“最受欢迎潜力男歌手”。12月，获得第十二届音乐节米谷汇“最佳CRBT销售歌手”。2019年1月，被授予“中牙友好大使、中牙杰出青年领袖”称号。2月出道京台春晚，为他作曲，《那年春天》；2月18日出单《没有意外》。3月22日发布海外演出主题曲《Bigger》；4月19日发行单曲《HardToGet》，7月26日发行专辑《YOUNG》。其在QQ音乐的销售额突破3000万元，并于8月获得2019华语歌曲音乐节最佳舞台表演男歌手和2019年度中国优秀青年歌手。2020年3月，加盟《青春有你第二季》担任青春制作人代表;4月9日，原创公益歌曲《Home》全网上线;随后，加盟户外竞技真人秀《奔跑吧第四季》担任常驻MC;7月，获第27届东方风云榜最佳男歌手等三个奖项。2021年1月，获得第二届TMEA腾讯音乐娱乐盛典年度最具影响力唱作歌手和年度最具号召力歌手两个奖项，单曲《情人》获得年度十大金曲奖 ;4月13日，发行个人创作专辑《迷》;7月17日，于北京凯迪拉克中心举办首场个人巡回演唱会，同年获第三届TMEA腾讯音乐娱乐盛典年度最具影响力制作人等多项荣誉。</p>
            <a class="aa" href="https://baike.baidu.com/item/ikun/8868238?fr=aladdin" target="_blank">ikun字典</a>
        </div>
    </div>
    <!-- 底部 -->
    {% include 'footer.html' %}
</body>
</html>